# Build folders
tmp/
bin/
obj/

# User-specific files
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Secrets
appsettings.Development.json
secrets.json

# Publish output
publish/

# EF temporary files
*.dbmdl

# OS files
.DS_Store
Thumbs.db